*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    overflow-x: hidden;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.v-center{
    align-items: center;
}


.header{
    position: relative;
    width: 100%;
    padding: 15px;
    display: block;
}

.header .item-left{flex: 0 0 17%;}
.header .item-center{flex: 0 0 66%;}
.header .item-right{flex: 0 0 17%; display: flex; justify-content: flex-end;}


.header .item-right a{
    display: inline-block;
    margin-left: 17px;
    color: black;
    font-size: 15px;
}


.header .logo a{
    font-size: 25px;
    font-weight: 900;
    color: black;
    text-transform: uppercase;
    font-style: italic;
}


.header .menu > ul > li{
    display: inline-block;
    margin-left: 20px;
}



.header .menu > ul > li > a{
    font-size: 15px;
    color: black;
    position: relative;
    font-weight: 500;
}


.header .menu > ul > li .sub-menu{
    position: absolute;
    z-index: 500;
    background-color: white;
    box-shadow: -2px 2px 0px 25px white;
    margin-top: 25px;
    padding: 20px 25px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
}

@media (min-width:992px){
.header .menu > ul > li.menu-item-has-children:hover .sub-menu{
    opacity: 1;
    visibility: visible;
}
}

.header .menu > ul > li .sub-menu.mega-menu{
    left: 50%;
    transform: translateX(-50%);
}

.header .menu > ul > li .sub-menu.mega-menu-column-4{
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item{
    flex: 0 0 20%;
    padding: 0px 15px;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item .title{
    font-size: 18.5px;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: rgb(17, 153, 139);
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item.text-center .title{
    text-align: center;
    margin: 5px 0;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li{
    display: block;
    margin: 0;
    line-height: 30px; 
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a{
    font-size: 15px;  
    color: #555;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}
.banner-section{
    display: block;
    background-image:linear-gradient(to bottom, rgba(0,0,0,0.3),rgba(0,0,0,0.9)), url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/190423-institute-sustanable-clothing-1556057761.png');
    background-size: cover;
    width: 100%;
    height: 700px;
}
.mobile-menu-head,
.mobile-menu-tigger{
    display: none;
}
/**/
.product-list{
    padding: 30px;
    min-width: 100px;
}
.product-title{
    position: relative;
    text-align: center;
    margin: 0 auto 80px;
    line-height: 60px;
    color: rgb(212, 56, 39);
    font-size: 30px;
}
.product-title:after{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(212, 56, 39);
    width: 80px;
    height: 3px;
}
.product-list .item{
    position: relative;
    flex-basis: 25%;
    max-width: 25%;
    margin-bottom: 50px;
    padding: 0px 15px;
}
.product-list .product .product-thumb img{
    max-width: 100%;
    width: 100%;
    height: 400px;
    object-fit: cover;
    cursor: pointer;
}
.product-list .product .product-info{
    text-align: center;
}
.product-list .product .product-info .product-name{
    font-size: 15px;
    margin: 5px 0;
    text-transform: uppercase;
    font-weight: normal;
}

.product-list .product .product-info .product-price{
    font-weight: 900;
    display: inline-block;
    margin: 0px 5px;
}

.product-list .product .product-info .first{
    color: rgb(212, 56, 39);
    font-size: 15px;
    text-decoration: line-through;
}
.product-list .product .rating{
    color: rgb(212, 56, 39);
}
.product-list .product .off-info .sm-title{
    position: absolute;
    top: 0;
    left: 15px;
    background-color: rgb(212, 56, 39);
    color: white;
    padding: 5px 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 17px;
    cursor: pointer;
    z-index: 1;
}
.product-list .product .product-thumb{
    position: relative;
} 
.product-list .product .product-thumb .product-button{
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    text-align: center;
    z-index: 10;
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.3s ease;
}

.product-list .product:hover .product-thumb .product-button{
    opacity: 1;
    transform: translateY(0%);
}
.product-list .product .product-thumb .product-button a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: rgb(195, 34, 16);
    color: white;
}

.product-list .product .product-thumb .product-button a .fas,
.product-list .product .product-thumb .product-button a .far{
    line-height: 38px;
}
.product-list .product .product-thumb .product-styles{
    position: absolute;
    top: 15px;
    right: 15px;
    opacity: 0;
    z-index: 10;
    transform: opacity 0.3s ease;
}

.item .product .product-thumb .pro-thumb-img{
    border-radius: 15px;
}

.off-info .sm-title{
    border-radius: 5px;
}

.product-list .product:hover .product-thumb .product-styles{
    opacity: 1;
}
.product-list .product .product-thumb .product-styles span{
    position: relative;
    width: 10px;
    height: 10px;
    display: block;
    margin-bottom: 9px;
    border-radius: 50%;
    cursor: pointer;
}
.product-list .product .product-thumb .product-styles span.active-style:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid black;
    margin-top: -3px;
    margin-left: -3px;
    border-radius: 50%;
    box-sizing: border-box;
}
/**/

@media (max-width:991px){
    .header .item-center{
        order: 3;
        flex: 0 0 100%;
    }

    .header .item-right,
    .header .item-left{
        flex:  0 0 auto;
    }

    .v-center{
        justify-content: space-between;
    }

    .header .mobile-menu-trigger{
        display: flex;
        width: 30px;
        height: 30px;
        margin-left: 15px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .header .mobile-menu-trigger span{
        position: relative;
        display: block;
        width: 24px;
        height: 2px;
        background-color: black;
    }

    .header .mobile-menu-trigger span:before,
    .header .mobile-menu-trigger span:after{
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
    }

    .header .mobile-menu-trigger span:before{
        top: -6px;
    }

    .header .mobile-menu-trigger span:after{
        top: 6px;
    }

    .header .item-right{
        align-items: center;
    }

    .header .menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 320px;
        height: 100%;
        background-color: white;
        z-index: 1099;
        overflow: hidden;
        transform: translate(-100%);
    }

    .header .menu.active{
        transform: translate(0%);
    }

    .header .menu > ul > li{
        display: block;
        margin: 0;
        line-height: 1;
    }

    .header .menu > ul > li > a{
        display: block;
        height: 60px;
        font-size: 17px;
        line-height: 60px;
        border-bottom: 1px solid rgba(0,0,0,0.3);
        padding: 0px 50px 0px 15px;
    }

    .header .menu > ul > li > a i{
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        transform: rotate(-90deg);
    }

    .header .menu .mobile-menu-head{
        display: flex;
        height: 60px;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border-bottom: 1px solid rgba(0,0,0,0.5);
        z-index: 5012;
        position: sticky;
        top: 0;
    }

    .header .menu .mobile-menu-head .go-back{
        width: 50px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-size: 16px;
        font-weight: 900;
        border-right: 1px solid rgba(0,0,0,0.3);
        cursor: pointer;
        display: none;
    }

    .header .menu .mobile-menu-head.active .go-back{
        display: block;
    }

    .header .menu .mobile-menu-head .current-menu-title{
        font-size: 18px;
        font-weight:900 ;
        color: black;
    }

    .header .menu .mobile-menu-head .mobile-menu-close{
        width: 50px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-size: 17px;
        font-weight: 900;
        border-left: 1px solid rgba(0,0,0,0.3);
        cursor: pointer;
    }

    .header .menu .menu-main{
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .header .menu > ul > li .sub-menu,
    .header .menu > ul > li .sub-menu.mega-menu{
        opacity: 1;
        visibility: visible;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: none;
        overflow-x: auto;
        max-width: none;
        min-width: auto;
        padding-top: 65px;
        transform: translateX(0%);
        display: none;
    }

    .header .menu > ul > li .sub-menu.active{
        display: block;
    }

    @keyframes slideLeft{
        0%{
            opacity: 0;
            transform: translateX(100%);
        }

        100%{
            opacity: 1;
            transform: translateX(0%);
        }
    }

    @keyframes slideRight{
        0%{
            opacity: 1;
            transform: translateX(0%);
        }

        100%{
            opacity: 0;
            transform: translateX(100%);
        }
    }

    .header .menu > ul > li .sub-menu.mega-menu > .list-item{
        flex: 0 0 100%;
    }

    .header .menu > ul > li .sub-menu.mega-menu > .list-item .title{
        margin: 20px 0;
    }

    .header .menu > ul > li .sub-menu.mega-menu > .list-item.text-center .title{
        margin: 20px 0;
    }

    .header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li{
        line-height: 30px;
    }

    .header .menu > ul > li .sub-menu > ul > li > a,
    .header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
        display: block;
    }

    .menu-overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        z-index: 1098;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
    }

    .menu-overlay.active{
        opacity: 1;
        visibility: visible;
    }

}
@media (max-width:990px){
    .product-list .item{
        flex-basis: 50%;
        max-width: 50%;
    }
}

/* Footer */
footer {
    background-color: #e6e4e4;
    padding: 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .newsletter {
    flex: 1 1 300px;
    margin-right: 20px;
  }
  
  .newsletter h3, .social-links h3, .contact-info h3 {
    margin-top: 0;
  }
  
  #newsletter-form {
    display: flex;
    margin-top: 10px;
  }
  
  #newsletter-form input[type="email"] {
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #newsletter-form button {
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #newsletter-message {
    margin-top: 10px;
    color: #333;
  }
  
  .social-links {
    flex: 1 1 200px;
  }
  
  .social-links h3 {
    margin-top: 0;
  }
  
  .social-links ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
  }
  
  .social-links ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-links ul li:last-child {
    margin-right: 0;
  }
  
  .social-links ul li a {
    color: #333;
    text-decoration: none;
    font-size: 20px;
  }
  
  .contact-info {
    flex: 1 1 200px;
    margin-top: 1px;
  }
  
  .contact-info h3 {
    margin-top: 0;
  }
  
  .contact-info p {
    margin: 5px 0;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
  }

  h4 {
    font-size: 22px;
    line-height: 24px;
}
.campus{
    width: 80%;
    margin: auto;
    padding: auto;
    text-align: center;
    color: #f43022;
}
.campus-col{
    flex-basis: 25%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 80%;
    border-radius: 20px;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(250, 248, 248, 0.277);
}
.layer h4{
    width: 100%;
    font-size: 18px;
    font-weight: 150px;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    color: rgb(4, 223, 252);
}
/* contect */

.contact .info {
    width: 100%;
    background: #fff;
}

.contact .info i {
    font: 20px/44px;
    color: #1977cc;
    float: left;
    width: 44px;
    height: 44px;
    background: #d6e9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font: 600 22px;
    margin-bottom: 5px;
    color: #2c4964;
}

.contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #4b7dab;
}

.contact .info .email,
.contact .info .phone {
    margin-top: 40px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
    background: #1977cc;
    color: #fff;
}

.contact .php-email-form {
    width: 100%;
    background: #fff;
}

.contact .php-email-form .form-group {
    padding-bottom: 8px;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .error-message br+br {
    margin-top: 25px;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

.contact .php-email-form input {
    height: 44px;
}

.contact .php-email-form textarea {
    padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
    background: #1977cc;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
    background: #1c84e3;
}



